HOME            = .
RANDFILE        = $ENV::HOME/.rnd

####################################################################
[ req ]
default_bits        = 2048
default_md          = sha256
default_keyfile     = local.private.key.pem
distinguished_name  = server_distinguished_name
req_extensions      = server_req_extensions
string_mask         = utf8only

####################################################################
[ server_distinguished_name ]
countryName                     = PL
countryName_default             = PL

stateOrProvinceName             = Wielkopolska
stateOrProvinceName_default     = Wielkopolska

localityName                    = Poznań
localityName_default            = Poznań

organizationName                = gotodev
organizationName_default        = gotodev

organizationalUnitName          = gotodev
organizationalUnitName_default  = gotodev

commonName                      = gotodev.local
commonName_default              = gotodev.local

#emailAddress                   = mac
#emailAddress_default           = test@example.com

####################################################################
[ server_req_extensions ]

subjectKeyIdentifier        = hash
basicConstraints            = CA:FALSE
keyUsage                    = digitalSignature, keyEncipherment
subjectAltName              = @alternate_names
nsComment                   = "OpenSSL Generated Certificate"

####################################################################
[ alternate_names ]

DNS.1         = gotodev.local
DNS.2         = *.gotodev.local
DNS.3         = traefik.local
DNS.4         = jenkins.local
DNS.5         = alert-manager.local
DNS.6         = prometheus.local
DNS.7         = cadvisor.local
DNS.8         = node-exporter.local
DNS.9         = grafana.local
DNS.3         = rabbitmq.local
